<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Enter your phrase: </p>
  	<form method="POST" action="/piglatinize">
		<textarea name="user_phrase"></textarea> <br>
		<input type="submit" name="submit" value="Translate!">
  	</form>
  </body>
</html>